{% extends "base.html" %}
{% block content %}

<main class="main text-center h-50">
    <h1>
        {% if message_type == 'error' %}
            Oops!
        {% elif message_type == 'success' %}
            Great!
        {% else %}
            Oops!
        {% endif %}
    </h1>
    <p class="lead text-{% if message_type == 'error' %}danger{% else %}{{ message_type }}{% endif %}">
        {{ message }}
    </p>
    <p class="lead">
        <a href="/" class="btn btn-lg btn-secondary fw-bold border-white">Go Back</a>
    </p>
</main>


{% endblock content %}
