{% extends "base.html" %}
{% block content %}

<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container">
            <h1>{{ page_info.get('page_heading') }}</h1>
            <!--            <nav class="breadcrumbs">-->
            <!--                <ol>-->
            <!--                    <li><a href="index.html">Home</a></li>-->
            <!--                    <li class="current">Blog</li>-->
            <!--                </ol>-->
            <!--            </nav>-->
        </div>
    </div>
    <!-- End Page Title -->

    <!-- Blog Posts 2 Section -->
    <section id="blog-posts-2" class="blog-posts-2 section">

        <div class="container">

            <div class="row gy-5">
                {% if articles | length == 0 %}
                <div class="col-lg-12">
                    <div class="text-center">
                        <h2>No articles found</h2>
                    </div>
                </div>
                {% endif %}
                {% for article in articles %}
                <div class="col-lg-4 col-md-6">
                    <article>

                        <div class="post-img">
                            <img src="{% if article.urlToImage %}{{ article.urlToImage }}{% else %}{{ url_for('static', filename='assets/img/no-image.jpg') }}{% endif %}"
                                 alt="" class="img-fluid">
                        </div>

                        <div class="meta-top">
                            <ul>
                                <li class="d-flex align-items-center">
                                    <time datetime="2022-01-01">{{ article.publishedAt.split('T')[0] }}</time>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-dot"></i> <strong>Sentiment:</strong> {{ article.sentiment }}
                                </li>
                            </ul>
                        </div>

                        <h2 class="title">
                            <a href="blog-details.html">{{ article.title }}</a>
                        </h2>

                    </article>
                </div>
                {% endfor %}

            </div><!-- End blog posts list -->

        </div>

    </section><!-- /Blog Posts 2 Section -->

    <!-- Blog Pagination Section -->
    <!--    <section id="blog-pagination" class="blog-pagination section">-->

    <!--        <div class="container">-->
    <!--            <div class="d-flex justify-content-center">-->
    <!--                <ul>-->
    <!--                    <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>-->
    <!--                    <li><a href="#">1</a></li>-->
    <!--                    <li><a href="#" class="active">2</a></li>-->
    <!--                    <li><a href="#">3</a></li>-->
    <!--                    <li><a href="#">4</a></li>-->
    <!--                    <li>...</li>-->
    <!--                    <li><a href="#">10</a></li>-->
    <!--                    <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--    </section>-->
    <!-- /Blog Pagination Section -->

</main>

{% endblock content %}
